// bower:scss
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 500px;
}

.chart {
  width: 75%;
  height: 100px;
}

.ac-chart {
  opacity: .3;
  margin-left: -40px;
}

g.y.axis{
  display: none;
}

g.x.axis{
  display: none;
}

.pin {
  background: red;
  position: absolute;
  width: 2px;
  height: 50px;

  .label {
    width: 50px;
    background: lightcoral;
  }
}

.timeline {
  position: absolute;
  top: 40px;
  height: 40px;
  width:  100%;
  z-index: 0;
  left: 10px;
  font-weight: 600;

  .timeline-year {
    display: table-cell;
    padding: 5px;
    border-left: 2px solid black;
    height: 30px;
    min-width: 400px;
  }
}

.sliderng {
  width: 100%;
  height: 40px;
  background: lightblue;
  cursor: default;
  opacity: 0.3;
  position: absolute;
  top: 40px;
  z-index: 1;

  .slider {
    width: 264px;
    background: lightcyan;
    height: 30px;
    border: 5px solid lightblue;
    position: relative;
    transition: left .3s ease;
    top: 0;
    cursor: move;
  }

  .slider.ghost {
    opacity: .7;
    transition: none;
    margin-top: -40px;
  }
}

grid {
  .container {
    height: 150px;
    width: 100%;
    overflow-x: scroll;

    .row {
      height: 50px;

      .data {
        display: table-cell;
        padding: 15px 60px;
        border: 1px cadetblue solid;
      }
      .hours{
        display: table-cell;
        padding: 15px 88px;
        border: 1px cadetblue solid;
        div{
          width:16px;
          min-width: 16px;
        }
      }
    }
  }
  .container.disable-scroll {
    overflow: hidden;
  }
}
