// bower:scss
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 500px;
  width: 99%;
  overflow-x: none;
}

.chart {
  width: 99%;
  height: 100px;
}

.ac-chart {
  opacity: .3;
  margin-left: -40px;
  width: 100%;
   .angular-charts-template .ac-chart svg{
     width: 100%;
   }
}

g.y.axis{
  display: none;
}

g.x.axis{
  display: none;
}
g.g rect{
width:20px;
}
.pin {
  position: absolute;
  top: 80px;
  left: 29%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid red;
  .label {
    margin: 5px 0 0 -4px;
  }
}

.timeline {
  position: absolute;
  top: 40px;
  height: 40px;
  width:  98%;
  z-index: 0;
  left: 10px;
  font-weight: 600;

  .timeline-year {
    display: inline-block;
    padding: 5px;
    border-left: 2px solid black;
    height: 30px;
    width:18%;
  }
}

.sliderng {
  width: 99%;
  height: 40px;
  background: lightblue;
  cursor: default;
  opacity: 0.3;
  position: absolute;
  top: 40px;
  z-index: 1;

  .slider {
    width: 264px;
    background: lightcyan;
    height: 30px;
    border: 5px solid lightblue;
    position: relative;
    transition: left .3s ease;
    top: 0;
    cursor: move;
  }

  .slider.ghost {
    opacity: .7;
    transition: none;
    margin-top: -40px;
  }
}

.scroll-bar {
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  top: 70px;
}

grid {
  .container {
    height: 200px;
    width: 100%;
    overflow-x: scroll;

    .row {
      height: 50px;

      .data {
        display: table-cell;
        padding: 15px 60px;
        border: 1px cadetblue solid;
        background-color: Lavender;
      }
      .hours{
        display: table-cell;
        padding: 15px 88px;
        border: 1px cadetblue solid;
        div{
          width:16px;
          min-width: 16px;
        }
      }
    }
  }

  .container.disable-scroll {
    overflow: hidden;
  }
}
